<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Danh sách khách hàng
  </div>

  <div class="card-body">
    <button type="button" (click)="actionCustomer('add')" class="btn btn-info btn-xs pull-right mb-3"><span
      class="fa fa-plus-circle"></span> Thêm khách hàng</button>
    <table class="table">
      <thead>
      <tr>
        <th>STT</th>
        <th>Tên khách hàng</th>
        <th>Ngày sinh</th>
        <th>Số CMT</th>
        <th>Địa chỉ</th>
        <th>Số điện thoại</th>
        <th>Ảnh</th>
        <th>Trạng thái</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of dataTable; let i = index">
        <td> {{ i + 1 }}</td>
        <td>{{item.fullname}}</td>
        <td>{{item.birthday | date: 'dd/MM/yyyy'}}</td>
        <td>{{item.identification}}</td>
        <td>{{item.address}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.avatar}}</td>
        <td>
          <button (click)="actionCustomer('edit', item)" class='btn btn-info btn-xs'><span
            class="fa fa-edit"></span></button>&nbsp;
          <button (click)="actionCustomer('delete', item)" class="btn btn-danger btn-xs"><span
            class="fa fa-remove"></span></button>
        </td>
      </tr>
      </tbody>
    </table>
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="#"><</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">></a></li>
    </ul>
  </div>
</div>
