<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> Quản lý nguồn vốn
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Cổ đông</th>
                <th>Cổ phần</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataTable; let i = index">
                <td> {{ i + 1 }}</td>
                <td>{{findStaffNameById(item.staff_id)}}</td>
                <td>{{formatNumber(item.money)}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card">
    <div class="card-header">
      Biều đồ
      <div class="card-header-actions">
        <a href="http://www.chartjs.org">
          <small class="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="chart-wrapper">
        <canvas baseChart class="chart"
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        ></canvas>
      </div>
    </div>
  </div>